@import '{}/client/styles/_variables';
@import '{}/client/styles/_typography';

html {
  //font-size: 1.375em;
  font-size: 13px;
  @include breakpoint( $mob4 ) {
    font-size: 14px;
  }
  @include breakpoint( $tab1 ) {
    font-size: 15px;
  }
  @include breakpoint( $des3 ) {
    font-size: 16px;
  }
  @include breakpoint( $des4 ) {
    //font-size: 18px;
  }
  @include breakpoint( $des6 ) {
    //font-size: 20px;
  }
}
body {
  font-size: 1em;
  font-family: 'TeleGroteskScreen';
  font-weight: 400;
  min-width: 320px;
}
//main { font-size: 0; } // inline-block white-space hack
h1, h2, h3, h4, p, li {
  color: $gray;
}
p, li { font-size: 1rem; }

.backend {
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 50px;
  h1 {
    @include h2;
    padding-bottom: .3em;
    font-size: 1.5em;
    line-height: 1.334;
    border-bottom: 1px solid #eee;
  }
  p {
    @include copy;
  }
} 

.autoform, .image-selector {
  padding: 10px 20px;
}
.autoform.has-image-selector {
  position: relative;
  > div:last-child {
    margin-top: 200px;
  }
}
.image-selector {
  position: absolute;
  margin-top: -236px;
  img {
    margin-bottom: 10px;
  }
}
.form-section {
  margin-bottom: 2em;
}
.backend__content {
  display: flex;
}
.backend__sidebar {
  width: 220px;
  //margin-right: 50px;
  //margin-top: 100px;
}
.backend__main {
  width: calc(100% - 230px);
  max-width: 960px;
  //margin-left: 22%;
}
.backend__form {
  //margin: 0 auto;
}

.has-subforms {
  padding-bottom: 40px;
}
.funktion-form .autoform {
  > div:last-child {
    margin-top: 180px;
  }
}
.subform, .subform__actions {
  margin: 20px;
  position: relative;
}
.subform button.subform__destroy {
  position: absolute !important;
  bottom: 10px;
  left: 120px;
}
.subform__notice {
  margin: 20px;
  font-size: 14px !important;
}
input[type='checkbox'] + div {
  margin-top: 20px;
  margin-bottom: 20px;
}


