@import "{}/client/styles/_variables";
@import "{}/client/styles/_typography";



.home__intro {
  padding-top: 2rem;
  margin-bottom: 65px;
  @include breakpoint( $mob5 ) {
    padding-top: 3rem;
  }
  @include breakpoint( $tab1 ) {
    margin-bottom: 105px;
  }
}

.home__intro--login-button {
  text-align: center;
  margin-bottom: 10px;
  img {
    width: 40%;
    @include breakpoint( $mob4 ) {
      width: 35%;
    }
    @include breakpoint( $mob5 ) {
      width: 30%;
    }
    @include breakpoint( $tab1 ) {
      width: 216px;
    }


  }
}



/* FEATURES */
.home__intro--keyfeatures {
  padding-top: 70px;
  margin-bottom: 0px;

  width: 100%;
  overflow: hidden;
  @include breakpoint( $tab5 ) {
    margin-bottom: 50px;
    display: flex;
  }
}
.home__intro--keyfeature {
  text-align: center;
  margin-bottom: rem(80px);
  .keyfeature-imgwrapper {
    margin-bottom: rem(20px);
  }
  img { 
    display: inline-block;
    vertical-align: top;
  }
  h2 {
    @include h2;
    margin-bottom: 16px;
  }
  p {
    @include copy;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint( $mob3 ) {
      max-width: 80%;
    }
    @include breakpoint( $mob5 ) {
      max-width: 60%;
    }
    @include breakpoint( $tab5 ) {
      max-width: none;
    }
  }
  @include breakpoint( $tab5 ) {
    margin-bottom: auto;
    .keyfeature-imgwrapper {
      height: 215px;
      margin-bottom: 0;
    }
    margin-left: 30px;
    margin-right: 30px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}


.cta {
  text-align: center;
}
.keyfeatures_cta {
  margin-bottom: rem(120px);
}



.services__intro-imgwrapper {
  text-align: center;
  padding-top: 43px;
  margin-bottom: 60px;
  img {
    width: 100%;
    max-width: 900px;

  }
}


.news {
  text-align: center;
  background: $blue3;
  padding-top: 25px;
  padding-bottom: 5px;
  @include content-padding;
  h2 {
    @include h2bold;
  }
  p {
    @include copy;
    margin-bottom: 25px;
  }
}



/* stuff from LOGIN MIT TELEKOM */
.login-partners {
  background: #EDEDED;
  padding-top: 70px;
  padding-bottom: 70px;
  h1 + p {
    margin-bottom: 60px;
  }
}
.login-partners__logos {
  width: calc(100% - 40px);
  max-width: 940px;
  display: block;
  margin: 0 auto 65px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.login-partners__cta {
  text-align: center;
  a {
    @include button;
    @include button-magenta;
    margin-left: 20px;
    margin-right: 20px;
  }
}


