@font-face {
  font-family: 'TeleGroteskScreen';
  src: url('/fonts/telegroteskscreen-regular.eot?') format('eot'), url('/fonts/telegroteskscreen-regular.woff') format('woff'), url('/fonts/telegroteskscreen-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TeleGroteskScreen';
  font-weight: 600;
  src: url('/fonts/telegroteskscreen-medium.eot?') format('eot'), url('/fonts/telegroteskscreen-medium.woff') format('woff'), url('/fonts/telegroteskscreen-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'TeleGroteskScreen';
  font-weight: 700;
  src: url('/fonts/telegroteskscreen-bold.eot?') format('eot'), url('/fonts/telegroteskscreen-bold.woff') format('woff'), url('/fonts/telegroteskscreen-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'TeleGroteskScreen';
  font-weight: 800;
  src: url('/fonts/telegroteskscreen-ultra.eot?') format('eot'), url('/fonts/telegroteskscreen-ultra.woff') format('woff'), url('/fonts/telegroteskscreen-ultra.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, p { font-size: 1rem; }

