@import '{}/client/styles/_variables';
@import '{}/client/styles/_typography';


.viewport.sticky .header__brand {
  //top: -80px;
  top: -80px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.viewport.sticky {
  margin-top: 84px;
}

.header__brand {
  position: relative;
  background: $magenta;
  height: 84px;
}
.header__brand--logo {
  padding-top: 24px;
  cursor: pointer;
}
.header__brand--claim {
  position: absolute;
  display: inline-block;
  width: 196px;
  height: 18px;
  right: 0;
  @include content-padding(right);
  top: 36px;
  text-transform: uppercase;
  color: white;
  font-family: "TeleGroteskScreen";
  font-weight: 800;
  font-size: 17px;



}

