@import "{}/client/styles/_variables";
@import "{}/client/styles/_typography";


.service {
  display: flex;
  margin-bottom: rem(56px);
  position: relative;

  @include breakpoint( $mob4 ) {
    width: 48%;
    margin-right: 2%;
  }
  @include breakpoint( $tab3 ) {
    width: 32%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
.service__icon {
  @include icon-size;

  margin-right: rem(10px);
}
.service__info {
  width: auto;
  h3 {
    @include h1-underlined;
    margin-bottom: rem(10px);
  }
  p {

  }
} 
.service.has-actions {
  margin-bottom: 80px;
  p { font-size: 1rem; }
}
.service__info + .actions {
  position: absolute;
  top: 58px;
  left: 0;
  i { 
    color: $border-color3;
  }
}
